.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdownSelect {
    position: relative;
    display: inline-block;
    text-align: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f9f9f9;*/
    min-width: 150%;
    /*box-shadow: 0px 8px 16px 
                0px rgba(0, 0, 0, 0.2);*/
    z-index: 1;
    right: 0px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 10px;
    opacity: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    /*background-color: #f1f1f1*/
}

.dropdownSelect .dropdown-content {
    /*display: block;*/
}

.dropdownSelect:hover .dropbtn {
    background-color: #3e8e41;
}

.td {
    text-align: right;
}

/* .line{   padding: 8px;
                 display: block;
                 text-align: left;
                 width: 100px;
                 border-bottom: 1px solid rgb(17, 2, 2);} */

/*hr{
                  
                    width: 100%;
                    border: 0px;
                    border: 0;
                    border-top: 1.5px solid #CCC;
               
                   }*/
.hr2 {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    border: 0px;
    border: 0;
    border-top: 1.5px solid #CCC;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    /*margin-left: 20px;*/
    width: 10px;
    height: 10px;
    margin: 10px;
    float: right;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(227deg);
    -webkit-transform: rotate(227deg);
}

label {

    text-align: left;
    font: normal normal bold 18px/32px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}

.displayTrue {
    display: block;
}

.displayFalse {

    display: none;
}

.product-dropdown-img {
    background: #eceff9 0% 0% no-repeat padding-box;
    /*border: 1px solid #70707066;*/
    border-radius: 10px;
    text-align: center;
}

.dropdown-content td {
    padding-left: 15px;
    padding-right: 15px;
}

.dropdown-content td {
    padding-left: 15px;
    padding-right: 15px;
}

.third {
    text-align: right;
}

.dropdown-content table {
    width: 100%;
}

.dropdown-content .h1 {
    font: normal normal 800 20px/32px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}