@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.container-shopping {
    /*margin-top: 150px;*/
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    height: auto;
}

.container-shopping .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.40rem
}

.container-shopping table tr td {
    vertical-align: middle;
    padding-left: 5px;
}

.container-shopping .img-sm {
    width: 100px;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BABABA;
    border-radius: 10px;
    opacity: 1;
    padding: 10px 0;
}

.container-shopping .itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.container-shopping .table-shopping-cart .price-wrap {
    line-height: 1.2
}

.container-shopping .table-shopping-cart .price {
    font-weight: bold;
    margin-right: 5px;
    display: block
}

.container-shopping .text-muted {
    color: #969696 !important
}

.container-shopping a {
    text-decoration: none !important
}

.container-shopping .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /*background-color: #fff;
    background-clip: border-box;*/
    border: 1px solid rgba(0, 0, 0, .125);
    /*border-radius: 0px*/;
    background: #F8F8FC 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

.container-shopping .itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.container-shopping .dlist-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

[class*="dlist-"] {
    margin-bottom: 5px
}

.container-shopping .coupon {
    border-radius: 1px
}

.container-shopping .price {
    font-weight: 600;
    color: #212529
}

.container-shopping .btn.btn-out {
    outline: 1px solid #fff;
    outline-offset: -5px
}

.container-shopping .btn-main {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer;
    color: #fff;
    width: 100%
}

.container-shopping .btn-light {
    color: #ffffff;
    background-color: #F44336;
    border-color: #f8f9fa;
    font-size: 12px
}

.container-shopping .btn-light:hover {
    color: #ffffff;
    background-color: #F44336;
    border-color: #F44336
}

.container-shopping .btn-apply {
    font-size: 11px;
    text-align: left;
    font: normal normal bold 12px/18px Nunito;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.tableHeader{

    border-bottom: 1px solid #c9c9c9;
    opacity: 0.4;
    text-align: left;
    font: normal normal 600 18px/32px Nunito;
    letter-spacing: 0px;
    color: #292929;
    opacity: 1;

}


.container-shopping ._p-qty .shopping-value-button {
    display: inline-flex;
    /*border: 0px solid #ddd;*/
    margin: 0px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background: #ededf1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000000;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BABABA;
    border-radius: 21px;
    opacity: 1;
}

.container-shopping ._p-qty .number {
  background: #fff 0% 0% no-repeat padding-box !important;
    text-align: center;
    border: none;
    /*border-top: 1px solid #fe0000;
    border-bottom: 1px solid #fe0000;*/
    margin: 0px;
    width: 50px;
    height: 35px;
    font-size: 14px;
    box-sizing: border-box;
    color: #000000;
    font-weight: bold;

}

.container-shopping .bottom-border{
    border-bottom: 1px solid #c9c9c9;
}

.container-shopping ._p-qty{
    margin-bottom: 15px;
}

.container-shopping h1 {
    width: 300px;
    font-size: 25px;
    line-height: 24px;
    margin-top: 5px;
    font-family: Nunito, sans-serif;
    /* text-transform: uppercase; */
    letter-spacing: .3px;
    text-align: left;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.container-shopping table{
    width: 100%;
}

.container-shopping .shopping-error{
    color: red !important;
}

.priceDetailHr{

    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 8px;
    border: 0;

}

.card-body-total-price{

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #8594A633;
    border-radius: 10px;
    opacity: 1;
    flex: 1 1 auto;
    padding: 1.4rem;


}

.product-detail-span-total{
    text-align: left;
    font: normal normal bolder 22px/32px Nunito;
    letter-spacing: 0px;
    color: #777777;
    opacity: 1;
}

.mmpblack-total{
    text-align: left;
    font: normal normal 600 22px/40px Nunito;
    letter-spacing: 0.6px;
    color: #000000;
    opacity: 1;
}

.cancel-price{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #BABABA;
    border-radius: 10px;
    opacity: 1;
    width: 100%;
}


.cancel-price span{
    text-align: center;
font: normal normal bold 20px/32px Nunito;
letter-spacing: 0px;
color: #BABABA;
opacity: 1;
}

.continue-btn{
    width: 100%;
    background: #206AED 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
border: 2px solid #206AED;
}

.continue-btn span{
    font: normal normal bold 20px/32px Nunito;
letter-spacing: 0px;
}

/*shopping tab*/
.tabShopping.is-complete
{
    opacity: 1 !important;
}

.tabShopping
{
  cursor: pointer;
  
  opacity: 1;
  display: inline-block;
  padding: 10px 30px;
  margin: 0;
}

.tabShopping
{
    text-align: center;
    font: normal normal normal 18px/32px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.2;
}



.contentShopping
{
  display: none;
}

#shoppingTabs[data-active="tab1"] #tab1,
#shoppingTabs[data-active="tab2"] #tab2,
#shoppingTabs[data-active="tab3"] #tab3,
#shoppingTabs[data-active="tab4"] #tab4,
#newSIMTabs[data-active="tab5"] #tab5,
#newSIMTabs[data-active="tab6"] #tab6,
#newSIMTabs[data-active="tab7"] #tab7
{
  /*background-color: silver;*/
  border-bottom: 4px solid #5FB9FF;
  opacity: 1;
}
#shoppingTabs[data-active="tab1"] #content1,
#shoppingTabs[data-active="tab2"] #content2,
#shoppingTabs[data-active="tab3"] #content3,
#shoppingTabs[data-active="tab4"] #content4,

#newSIMTabs[data-active="tab5"] #content5,
#newSIMTabs[data-active="tab6"] #content6,
#newSIMTabs[data-active="tab7"] #content7
{
  display: block;

}


.tabHr{

    position: absolute;
    top: 39px;
    width: 100%;
    left: 5px;

}

.personal-detail input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #BABABA;
border-radius: 10px !important;
opacity: 1;
height: 50px;
text-align: left;
font: normal normal bold 18px/32px Nunito;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.personal-detail label{
    text-align: left;
    font-weight: 600;
    font-family: Nunito;
    letter-spacing: 0px;
    color: #777777;
    opacity: 1;
    font-size: 14px;
    width: inherit;
}

.personal-detail .error{
    color: red;
}

.first_lastName{
    display: grid;grid-template-columns: auto auto auto;
}

.first_lastName .first_lastName_input{
    margin-right: 40px;
}

.second_lastName {
  display: grid;grid-template-columns: auto auto; width: 67%;
}

.second_lastName .second_lastName_input{
    margin-right: 40px;
}

@media only screen and (max-width:767px) {
    .first_lastName{
        display: block;grid-template-columns: auto auto auto;
    }

    .first_lastName .first_lastName_input{
        margin-right: 40px;
    }

    .second_lastName {
      display: block;grid-template-columns: auto auto; width: 100%;
    }

    .second_lastName .second_lastName_input{
        margin-right: 40px;
    }

    }


    /* Style the tab */
.vtab {
  float: left;
  background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
  /*width: 30%;*/
  margin-left: -10px;
  height: auto;
}

/* Style the buttons inside the tab */
.vtab button {
  display: block;
  background-color: inherit;
  color: #206AED;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  height: 150px;
  margin-top: 0px;
  text-align: center;
  border-left: 4px solid #fff;
  opacity: 1;
  border-bottom: 4px solid #F8F8FC;
}

/* Change background color of buttons on hover */
.vtab button:hover {
  background-color: #ddd;
  border-left: 4px solid #ddd;
  opacity: 1;
  border-bottom: 4px solid #ddd;
}

/* Create an active/current "tab button" class */
.vtab button.active {
  background: #e8f0fd 0% 0% no-repeat padding-box;
    border-bottom: 0px solid #e8f0fd;
    border-left: 4px solid #206AED;
    opacity: 1;
}

/* Style the tab content */
.vtabcontent {
  float: left;
    padding: 0px 12px;
    margin-left: 135px;
    margin-right: 135px;
    border-left: none;
    height: 300px;
    width: 83%;
    position: absolute;
}

.tablinks {
    display: inline-block;
    position: relative;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 2px;
    padding: 20px;
    margin-top: 50px;
}
.tablinks.active:before {
    content: '';
    display: block;
    position: absolute;
    top: 65px;
    left: 108px;
    right: 100%;
    width: 0;
    height: 0;
    /*border: 10px solid transparent;
    border-bottom-color: black;*/
    border: 8px solid;
    border-color: #206AED #206AED transparent transparent;
    transform: rotate(45deg);
} 

.tablinks:after {
    /*content: '';
    display: block;  
    position: absolute;
    left: 141px;
    top: -17px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom-color: white;*/
}

.cardContainer{
  display: block;
    position: relative;
    margin: 0px auto;
    height: auto;
    /*width: 500px;*/
    padding: 20px;
}

h2 {
    color: #AAAAAA;
}

.cardContainer ul{
  list-style: none;
  margin: 0;
  padding: 0;
    overflow: auto;
}

.cardContainer ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
   /* border-bottom: 1px solid #333;*/
}

.cardContainer ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.cardContainer ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 15px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.cardContainer ul li:hover label{
    /*color: #FFFFFF;*/
}

.cardContainer ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.cardContainer ul li:hover .check {
  /*border: 5px solid #FFFFFF;*/
}

.cardContainer ul li .check::before {
   display: block;
   position: absolute;
    content: '';
   border-radius: 100%;
   height: 11px;
    width: 11px;
    top: 2px;
    left: 2px;
   margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.cardContainer input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

.cardContainer input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

.cardContainer input[type=radio]:checked ~ div b{
  color: #000000 !important;

}

.cardContainer input[type=radio]:checked ~ div.cardBoxInfo{
  display: block;
}

.cardContainer .active {
  background: #F8F8FC 0% 0% no-repeat padding-box;
opacity: 1;
}

.cardDisplayGrid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.cardInfo{
    float: left;
                                                 margin-left: 150px;
                                                 margin-top: -45px;
}

.cardBox{
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #8594A6;
border-radius: 5px;
padding: 10px 15px;
opacity: 1;
}

.cardBoxInfo {
    float: left;
    margin-left: 550px;
    margin-top: -60px;
     display: none;
}

.cardBox span{
    text-align: left;
    font-weight: normal;
    font-family: Nunito;

letter-spacing: 0px;
color: #031A38;
opacity: 1;
}

.mmpblackbold{
    text-align: left;
    font: normal normal bolder 18px/40px Nunito;
    letter-spacing: 0.6px;
    color: #000000;
    opacity: 1;
}
.c1 { filter: hue-rotate(0deg)   ;width: 20px;}

.walletContainer {
    border: 1px solid #BABABA;
border-radius: 10px;
opacity: 1;
    display: block;
    position: relative;
    margin: 0px auto;
    height: auto;
    /* width: 500px; */
    padding: 20px;
}

.mmpPayment{
    text-align: center;
    font: normal normal 600 16px/40px Nunito;
    letter-spacing: 0.6px;
    color: #000000;
    opacity: 1;
}

.paymentBox{

    border: 1px solid #70707066;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    margin-bottom: 30px;

}

/* //for new sim login */
.tabNewSim {
    text-align: center;
    font: normal normal normal 18px/32px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.2;
}
.tabNewSim {
    cursor: pointer;
    opacity: 1;
    display: inline-block;
    padding: 10px 118px;
    margin: 0;
}

.select2-selection__rendered {
    line-height: 50px !important;
}
.select2-container .select2-selection--single {
    height: 50px !important;
}
.select2-selection__arrow {
    height: 50px !important;
}
.select2-container{
    width: 100% !important;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    color: #495057;
}
.select2-container--default .select2-selection--single{
    border: 2px solid #aaa;
    border-radius: 10px;
}